body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
    background-color: white;
    background-size: cover;
    text-align: center;
}
.sel {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    text-align: center;
}
.sel li {
    display: inline-block; /* NEW */
}
.sel a{
    font-weight: 100;
    color: black;
    border: none;
     /* aspect must apply to innermost */
    padding-left: 5px;
    padding-right: 5px;
}
.sel button {
    font-weight: 100;
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
    text-decoration: underline;
    font-size: 95%;
    font-family: 'IBM Plex Mono', monospace;
    color: black;

}
.sel img{
    max-width: 14px;
}
.sel hr{
    height: 1px;
    background-color: black;
    border-color: rgba(0, 0, 0, 0.0);
    margin-right: 20%;
    margin-left: 20%;
}
.capt {
    text-align: center;
    margin-top: 530px;
}

footer {
    text-align: center;
    color:rgba(150, 150, 150);
    margin-top: 100px;
    padding: 0;
    font-size: 10px;
}
footer p {
    margin-bottom: 0;
}
footer a {
    margin-top: -8px;
}

#buildings {
    margin-top: 0px;
}


.tab {
    overflow: hidden;
    background-color: rgb(0, 0, 0, 0.3);
    margin-left: 20%;
    margin-right: 20%;
  }

  .tablinks {
      color: white;
    font-family: 'IBM Plex Mono', monospace;
  }
  
  .tab button {
    background-color: rgb(0, 0, 0, 0.0);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px 10px;
    font-size: 17px;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: white;
    color: rgb(0, 0, 0, 0.3);
  }
  #lunks {
      margin-left: 20%;
      text-align: left;
      
  }
  #lunks a {
    text-decoration: none;
    color: black;
  }
  
  #lunks a:hover {
      color: red;
  }
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    text-align: center;
    border-top: none;
  }
  .desc {
    text-align: left;
    font-style: normal;
    
   
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;
}
.desc h3 {
    font-size: 12px;
    font-weight: 10;
}
#fixurself{
    height: 1em;
    color:black;
    font-style: italic;
    text-align: left;
    margin-top: 0px;
}
#crossline {
    height: 1px;
    background-color: rgb(233, 233, 233);
    border-color: rgba(0, 0, 0, 0.0);
    margin-left: 160px;
    
    margin-top: -20px;
}
